<footer class="site-footer">

  <div class="background">
    <div class="container">
      <hr>
    <h2 class="footer-header add-top-half"><span>Impressum</span></h2>
    <div class="row">
      <div class="col-md-4">
        <p><strong>{{site.data.contact.company.companyName}}</strong>
        <p><span class="tab">E-Mail: </span><a href="javascript:window.location.href='mailto:{{site.data.contact.company.e-mail}}';">{{site.data.contact.company.e-mail}}</a></p>
        <p>Ebay Shop: <a href="{{site.data.contact.shop}}" class="scroll">Hier entlang</a></p>
      </div>
      <div class="col-md-4">
        <p><strong>Vertreten durch</strong><br>
          {{site.data.contact.representedBy}}</p>
      </div>
      <div class="col-md-4">

        <p><strong>Umsatzsteuer-ID
        </strong><br>
          USt.-Identifikationsnummer <br>
          gemäß §27a USt.-Gesetz: <br>
          {{site.data.contact.saleTaxId}}</p>

      </div>
    </div>
  </div>
  </div>

</footer>
