<nav id="myNavbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Getigerter Löwe" title="Getigerter Löwe" class="img-responsive" src="{{base}}/images/logo-klein.png"/>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/uebersicht.html" class="scroll">Übersicht</a></li>
        <li><a href="#person" class="scroll">Gallerie</a></li>
        <li><a href="/contact.html" class="scroll">Kontakt</a></li>
        <li><a href="http://stores.ebay.de/getigerter_loewe" class="scroll">Shop</a></li>
      </ul>
    </div>
  </div>
</nav>