---
layout: default
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="background">
    <div class="container">
        <h1>{{ page.titel }}</h1>
        <div class="row">
            <div class="col-md-6">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for image in page.bilder %}
                        <div class="item {% if forloop.index0 == 0 %} active {% endif %}">
                            <img src="{{base}}/images/Uebersicht/{{image}}.JPG">
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <p>{{ page.kurzbeschreibung }}</p>
                <p><b>Material</b>:</p>
                {% for material in page.material %}
                <p>
                    <img class="img-beside-text" src="{{base}}/images/logo-klein.png">
                    <span class="orange-color">{{material}}</span>
                </p>
                {% endfor %}
                <p><i class="fa fa-arrows-v"></i> <b>Größe:</b> {{ page.groesse.von }} -  {{ page.groesse.bis }}</p>
                <p><i class="fa fa-genderless"></i> <b>Geschlecht:</b> {% if page.geschlecht == 'w' %} <i class="fa fa-venus"></i> (weiblich) {% else %} <i class="fa fa-mars"></i> (männlich) {% endif %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ page.content }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-to-top-high">
                <p>Wollten Sie dieses Produkt kaufen? Dann schreiben Sie mir <a href="/contact.html">eine Mail</a> oder gucken Sie bei <a href="{{site.data.contact.shop}}">meinen Shop</a> vorbei.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <p></p>
            </div>
        </div>
    </div>
</div>