---
layout: default
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron background">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <div class="row">
            <div class="col-md-12">
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            </div>
        </div>
    </div>
</div>